@import url('https://fonts.googleapis.com/css2?family=Science+Gothic:wght@100..900&display=swap');

:root {
  --color-background: #2e2e2e;
  --color-text: #ebebeb;
}

body {
  margin: 0;
  font-family: 'Science Gothic', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--color-background);
  color: var(--color-text);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.button {
  background-color: orangered;
  padding: 1rem 1.5rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  user-select: none;
}

h1 {
  font-weight: 400;
}
