Flask==3.0.2
Flask_SQLAlchemy==3.1.1
SQLAlchemy==2.0.45
Flask-Migrate
Flask-CORS

# Important for Python 3.12+ (fixes import errors in older libraries)
setuptools

# Image processing
numpy
opencv-python

# C++ libraries (do not pin version for WSL, let pip choose)
dlib

# AI models (downloaded directly from GitHub)
face_recognition_models @ git+https://github.com/ageitgey/face_recognition_models

# Main library
face_recognition
pytest

# QrCode
apscheduler