.header {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding: 1rem;
  padding-right: 4rem;
  gap: 1rem;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.display-area {
  display: flex;
  justify-content: center;
  width: 50%;
  text-align: center;
}
