.login-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--spacing-lg);
}

.login-card {
  background: var(--color-container-background);
  border-radius: var(--radius-xl);
  box-shadow: var(--shadow-md);
  padding: var(--padding-2xl);
  max-width: 450px;
  width: 100%;
}

.login-title {
  text-align: center;
  color: var(--color-text-main);
  font-size: var(--font-2xl);
  margin-bottom: var(--spacing-xl);
}

.login-error {
  background: var(--color-error-bg);
  color: var(--color-error);
  padding: var(--padding-md);
  border-radius: var(--radius-md);
  margin-bottom: var(--spacing-lg);
  display: flex;
  align-items: center;
  gap: var(--spacing-sm);
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-lg);
}

.input-group {
  display: flex;
  width: 80%;
  flex-direction: column;
  gap: var(--spacing-sm);
}

.input-group label {
  color: var(--color-text-secondary);
  font-size: var(--font-sm);
  font-weight: var(--font-medium);
}

.login-input {
  padding: var(--padding-md);
  border: var(--border-light);
  border-radius: var(--radius-md);
  font-size: var(--font-base);
  color: var(--color-text-main);
  transition: var(--transition-base);
  border: .1em solid var(--color-primary);
}

.login-input:focus {
  outline: none;
  border-color: var(--color-primary);
  box-shadow: 0 0 0 3px rgba(102, 126, 234, 0.1);
}

.login-button {
  width: 100%;
  text-align: center;
  margin-left: 0;
  /* margin-top: var(--spacing-md); */
}


.back-link:hover {
  color: var(--color-primary-dark);
}
