Flask==3.0.2
Flask_SQLAlchemy==3.1.1
SQLAlchemy==2.0.45
Flask-Migrate
Flask-CORS

# Ważne dla Python 3.12+ (naprawia błędy importu w starszych bibliotekach)
setuptools

# Przetwarzanie obrazu
numpy
opencv-python

# Biblioteki C++ (nie przypinamy wersji dla WSL, niech pip sam dobierze)
dlib

# Modele AI (pobierane bezpośrednio z GitHuba)
face_recognition_models @ git+https://github.com/ageitgey/face_recognition_models

# Główna biblioteka
face_recognition
pytest

# QrCode
apscheduler