.employees-container {
  padding: var(--padding-2xl);
  max-width: 1400px;
  margin: 0 auto;
  min-height: 100vh;
}

.employees-header {
  display: flex;
  align-items: center;
  gap: var(--spacing-lg);
  margin-bottom: var(--padding-2xl);
  background-color: var(--color-container-background);
  padding: var(--padding-xl);
  border-radius: var(--radius-2xl);
}

.employees-list{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-lg);
}
